<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- "%WIX%\bin\heat.exe" dir scripts -o MyHarvestedStuff.wxs -scom -frag -srd -sreg -gg -cg MyComponentGroupId -dr ScriptsBundle -->
    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <ComponentRef Id="HelpFile" />
            <ComponentRef Id="BackupDefaultsFile" />
            <ComponentRef Id="RestoreDefaultsFile" />
            <ComponentRef Id="ScriptsBundle" />
            <ComponentRef Id="TemplatesBundle" />
            <ComponentRef Id="EnvPathChange" />
        </ComponentGroup>
        <DirectoryRef Id="INSTALLFOLDER" FileSource="..\SQribe\bin\$(var.Configuration)\net5.0\win10-$(var.Platform)\publish\">
            <Component Id="HelpFile" Guid="{76770839-2dec-40cb-9023-13b068edddb8}">
                <File Id="HelpFile" Name="HELP.txt" Source="..\SQribe\" KeyPath="yes" />
            </Component>
            <Component Id="BackupDefaultsFile" Guid="{d44707ec-5aa9-4941-a753-0b25381a918d}">
                <File Id="BackupDefaultsFile" Name="backup-defaults.json" Source="..\SQribe\" KeyPath="yes" />
            </Component>
            <Component Id="RestoreDefaultsFile" Guid="{c334ffe8-5540-4cd6-b433-2f667e2c4d6a}">
                <File Id="RestoreDefaultsFile" Name="restore-defaults.json" Source="..\SQribe\" KeyPath="yes" />
            </Component>
            <Directory Id="ScriptsDir" Name="scripts">
                <Component Id="ScriptsBundle" Guid="{1334ffe8-5540-4cd6-b433-2f667e2c4d6a}">
                    <File Id="fil32FA3300E8C52C152741B239CADF5E5C" Source="..\SQribe\scripts\DELETE-all-table-data.sql" />
                    <File Id="filC04A6BBFB77197F50952A2CB9403F365" Source="..\SQribe\scripts\drop-check-constraints.sql" />
                    <File Id="filE80E8715D781DE24F67CD70B3611A795" Source="..\SQribe\scripts\drop-default-types.sql" />
                    <File Id="fil1B4944771ACD7EDAC037CAC14B3FB74A" Source="..\SQribe\scripts\drop-extended-properties.sql" />
                    <File Id="filD874F1119DCE3C8034BB59593E7A2CFC" Source="..\SQribe\scripts\drop-foreign-keys.sql" />
                    <File Id="fil03FA5D52932E5664E8F94135517E26B7" Source="..\SQribe\scripts\drop-fulltext-catalogs.sql" />
                    <File Id="fil276CDC3AD630F034432D908A0584A16C" Source="..\SQribe\scripts\drop-indexes.sql" />
                    <File Id="fil444D10C3120BFBF458B3ED5D4E92C1C7" Source="..\SQribe\scripts\drop-primary-keys.sql" />
                    <File Id="fil25824AB02E42EDCE7FF9FE935189CEFB" Source="..\SQribe\scripts\drop-schemas.sql" />
                    <File Id="fil9897CC3D50240FD1A55CB5B11041EF05" Source="..\SQribe\scripts\drop-stored-procedures.sql" />
                    <File Id="fil407F4418151DC9D2221B2528A361B164" Source="..\SQribe\scripts\drop-tables.sql" />
                    <File Id="fil0D42C3E1D2D37D8354334A9AFBB65ACF" Source="..\SQribe\scripts\drop-triggers.sql" />
                    <File Id="filFDA3982D0CCBBCB28C96D17695567D68" Source="..\SQribe\scripts\drop-user-defined-data-types.sql" />
                    <File Id="fil93B3FDD79850D7F9BF9F8A0A340B238E" Source="..\SQribe\scripts\drop-user-defined-functions.sql" />
                    <File Id="filE87A8BBDF69C811C84D390D04A20A72A" Source="..\SQribe\scripts\drop-user-defined-table-types.sql" />
                    <File Id="fil703FA09B700B3FB73512145917721715" Source="..\SQribe\scripts\drop-views.sql" />
                    <File Id="fil4D5813962BB17D1F8BA8258C4301109B" Source="..\SQribe\scripts\drop-xml-schema-collections.sql" />
                    <File Id="fil11EC9B0F3870F69538099EB3AC455E0D" Source="..\SQribe\scripts\generate-alter-table-foreign-key-constraints.sql" />
                    <File Id="fil236B2CF4AB94621B7B12C481CB02E635" Source="..\SQribe\scripts\generate-create-table-indexes.sql" />
                    <File Id="fil37EC42FFA6FA61CEC7FB22CC0052FB9C" Source="..\SQribe\scripts\generate-data-inserts.sql" />
                    <File Id="fil886D925AF9E90589FE0642006761345D" Source="..\SQribe\scripts\generate-fulltext-catalogs.sql" />
                    <File Id="fil57A0EF09321987E1D7B194864265AC2F" Source="..\SQribe\scripts\generate-stored-procedures.sql" />
                    <File Id="filACD58E88C29F1F160A28AE8887CAB55F" Source="..\SQribe\scripts\generate-table-primary-keys.sql" />
                    <File Id="filC40DD69D7EF74C043F0CE756D80B8A8A" Source="..\SQribe\scripts\generate-triggers.sql" />
                    <File Id="filF2F04A69CEF659460053B2DB9AA3BFF0" Source="..\SQribe\scripts\generate-user-defined-functions.sql" />
                    <File Id="fil798C39CACC19CE606707BAD4F1EEFA9B" Source="..\SQribe\scripts\generate-views.sql" />
                    <File Id="fil7FEAAAC4777FA6CA5B41FF2267AD5CC6" Source="..\SQribe\scripts\select-extended-properties.sql" />
                    <File Id="filB8C60EDF8D2964C58E28655569822B9F" Source="..\SQribe\scripts\select-permissions.sql" />
                    <File Id="fil2E64A51F23032A637D094538674BE7E4" Source="..\SQribe\scripts\select-schemas.sql" />
                    <File Id="filF0F66EEBED04E907E23B4ED5EDA88BE3" Source="..\SQribe\scripts\select-sys-comments.sql" />
                    <File Id="fil52B4133A0F40E680686FEB676FAFCB43" Source="..\SQribe\scripts\select-table-check-constraints.sql" />
                    <File Id="filDF2CFD791F2032EC0F0221AEAB5BC335" Source="..\SQribe\scripts\select-table-column-schema-11.sql" />
                    <File Id="filC4CEA585AFE9164C1EED2FFE886EF25A" Source="..\SQribe\scripts\select-table-column-schema.sql" />
                    <File Id="filBA661E3B058EDEA20CC23EC119EC32B9" Source="..\SQribe\scripts\select-table-dependencies.sql" />
                    <File Id="fil4C4752D961258FCDDBEC6725BC15B0EF" Source="..\SQribe\scripts\select-table-has-identity.sql" />
                    <File Id="filA961BA8CEA05F2CB39F1A1EC35BEA2D3" Source="..\SQribe\scripts\select-table-identity.sql" />
                    <File Id="filC8BEA6EEB4F40262DB189DA1FB8E1EE1" Source="..\SQribe\scripts\select-table-names-11.sql" />
                    <File Id="fil13F29B21DDF6D287331CFEFE2374A524" Source="..\SQribe\scripts\select-table-names.sql" />
                    <File Id="filAACFD3262FA348342CC7A3FA79F5E28C" Source="..\SQribe\scripts\select-table-primary-keys-11.sql" />
                    <File Id="fil60CB0D3A10665CD2F2AA1162BB05108A" Source="..\SQribe\scripts\select-table-primary-keys.sql" />
                    <File Id="fil7DC5446E9197B99A9F8A400DBF4099B3" Source="..\SQribe\scripts\select-type-default-create-scripts.sql" />
                    <File Id="fil1A04DB91EF44F5A89B084FF8BD9AF066" Source="..\SQribe\scripts\select-user-defined-data-types.sql" />
                    <File Id="fil4460BB1E657EDC1E201A5E78A3137256" Source="..\SQribe\scripts\select-user-defined-table-column-schema.sql" />
                    <File Id="filD3A617BC999D90EEC1A183706495802E" Source="..\SQribe\scripts\select-user-defined-table-names.sql" />
                    <File Id="fil1DB3AAAFB7E2112E8A9EA1DE21963E0A" Source="..\SQribe\scripts\select-xml-schema-collections.sql" />
                    <File Id="filED88077E92A2D8D204A136EAFE158F6E" Source="..\SQribe\scripts\set-multi-user-mode.sql" />
                    <File Id="filB7AF12DE3E04D131B5D64C306D498813" Source="..\SQribe\scripts\set-single-user-mode.sql" />
                </Component>
            </Directory>
            <Directory Id="TemplatesDir" Name="templates">
                <Component Id="TemplatesBundle" Guid="{2334ffe8-5540-4cd6-b433-2f667e2c4d6a}">
                    <File Id="fil51EF0BD331E4DC87EA5B44050EE1E299" Source="..\SQribe\templates\alter-table-column-default-value.sql" />
                    <File Id="filCBCEE6352D5148D28114704E95097B98" Source="..\SQribe\templates\bind-default-to-column.sql" />
                    <File Id="fil8F2006CAF9088516929C1E20F8DABC8E" Source="..\SQribe\templates\create-schema.sql" />
                    <File Id="filDCAAF3CA457630AAC54EBAA3CBEC41F6" Source="..\SQribe\templates\create-xml-schema-collection.sql" />
                    <File Id="fil4BDF04841E1D9D1B392CBE7BC201C9CE" Source="..\SQribe\templates\init-data-inserts.sql" />
                    <File Id="fil4D4F7BF140E5DDD7732451E49F234A5B" Source="..\SQribe\templates\init-schemas.sql" />
                    <File Id="fil859C37C78F62CD8F7878E66404918B87" Source="..\SQribe\templates\print-message.sql" />
                    <File Id="fil74E63B6C5B889A7C0339A04772C8A592" Source="..\SQribe\templates\set-identity-inserts-off.sql" />
                    <File Id="fil738F7C71864DECB204AD81F17BDB4AA1" Source="..\SQribe\templates\set-identity-inserts-on.sql" />
                    <File Id="filDC1107A6A070C199A7A3A7FBC744E567" Source="..\SQribe\templates\table-check-constraint.sql" />
                    <File Id="fil1EC07262686226DB7A3A1D4DC53E5015" Source="..\SQribe\templates\table-create.sql" />
                    <File Id="fil350C1000ED635A45F40DEAD27C7D1260" Source="..\SQribe\templates\transaction-block-begin.sql" />
                    <File Id="fil33F13DDF5ECE70F3D24656561B7AA91C" Source="..\SQribe\templates\transaction-block-commit.sql" />
                </Component>
            </Directory>
            <Component Id="EnvPathChange" Guid="{b007cad2-6f32-4275-a248-e0bc2661888b}" KeyPath="yes">
                <Environment Id="EnvPathChange" Name="Path" Value="%PROGRAMFILES%\SQribe" Action="set" System="yes" Part="last" Separator=";" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
