Package: sqribe
Version: 1.2.1.0
Architecture: all
Essential: no
Priority: optional
Section: utils
Installed-Size: 80486
Maintainer: magic@fynydd.com
Homepage: https://sqribe.app
Description: .NET 5.0 C# CLI for backup, restore, scripting, and versioning MS SQL Server (MSSQL) databases

